In [4]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
icm_sheet = pd.read_excel("icm.xlsx", engine="openpyxl")
icm_sheet = icm_sheet[['UID','RequestID','Department','BudgetItem','Amount','AmountRemarks','Vendor']]
icm_sheet.rename(columns={'UID': 'ICM UID',
                          'Department': 'ICM Department',
                          'Amount': 'ICM Amount',
                          'AmountRemarks': 'ICM Amount Remark',
                          'Vendor': 'ICM Vendor',
                          'BudgetItem' : 'ICM Budget Item'}, 
                 inplace=True)

icm_sheet.tail()

,ICM UID,RequestID,ICM Department,ICM Budget Item,ICM Amount,ICM Amount Remark,ICM Vendor
0,4250000910,4250000910,RDD-Tribal Hostel,Site Development,25000,Payment of Machinery and Labour Contractor for...,Ramesh Ajinath Thakare ( Datta Construction )
1,4250000908,4250000908,RDD-Tribal Hostel,Site Development,399970,Payment of Machinery and Labour Contractor for...,Ramesh Ajinath Thakare ( Datta Construction )
2,4250000878,4250000878,RDD-SBI-Gram-Saksham-2024-2025,"Well Deepening (fuel costs, boards)",1600,Diesel Transportation Expenses from ( Vikramga...,Rohidas Hemant Hadal
3,4250000874,4250000874,RDD-SBI-Gram-Saksham-2024-2025,Construction of Common Ponds,278629,Pond Digging Expenses for Khadki Village. Date...,Prathmesh Aniruddha Patil
4,4250000779,4250000779,RDD-Miscellaneous,RDD-034,8000,Advance Payment for Village Coordinator. Invoi...,Kalpesh Devendra Vayada

In [5]:
tally_jv_sheet = pd.read_excel("tally.xlsx", skiprows=6, engine="openpyxl") 

tally_jv_sheet['Date'] = tally_jv_sheet['Date'].apply(lambda x: np.nan if pd.to_datetime(x, errors='coerce') is not pd.NaT else x)

# Rename column to 'Vendor'
tally_jv_sheet.rename(columns={'Date': 'Tally Vendor'}, inplace=True)

tally_jv_sheet = tally_jv_sheet.drop(index=tally_jv_sheet.index[0]).reset_index(drop=True)


tally_jv_sheet

,Tally Vendor,Particulars,Vch Type,Vch No.,Debit,Credit,Unnamed: 6
0,NaN,Site Development,NaN,NaN,Journal,4,163458.0
1,NaN,RDD-Tribal Hostel,163458.0,Dr,NaN,NaN,NaN
2,Aaradhya Filling Station,NaN,163458.0,NaN,NaN,NaN,NaN
3,NaN,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,NaN,NaN,NaN,NaN,NaN
4,NaN,Site Development,NaN,NaN,Journal,5,25000.0
5,NaN,RDD-Tribal Hostel,25000.0,Dr,NaN,NaN,NaN
6,Datta Construction,NaN,25000.0,NaN,NaN,NaN,NaN
7,NaN,UID No. 4250000910 Payment of Machinery and La...,NaN,NaN,NaN,NaN,NaN
8,NaN,Site Development,NaN,NaN,Journal,6,399970.0
9,NaN,RDD-Tribal Hostel,399970.0,Dr,NaN,NaN,NaN
10,Datta Construction,NaN,399970.0,NaN,NaN,NaN,NaN
11,NaN,UID No. 4250000908 Payment of Machinery and La...,NaN,NaN,NaN,NaN,NaN
12,NaN,"Well Deepening (fuel costs, boards)",NaN,NaN,Journal,7,1600.0
13,NaN,RDD-SBI GRAM-SAKSHAM,1600.0,Dr,NaN,NaN,NaN
14,Rohidas Hemant Hadal,NaN,1600.0,NaN,NaN,NaN,NaN
15,NaN,UID No. 4250000878 Diesel Transportation Expen...,NaN,NaN,NaN,NaN,NaN
16,NaN,Construction of Common Ponds,NaN,NaN,Journal,8,278629.0
17,NaN,RDD-SBI GRAM-SAKSHAM,278629.0,Dr,NaN,NaN,NaN
18,Prathmesh A Patil,NaN,278629.0,NaN,NaN,NaN,NaN
19,NaN,UID No. 4250000874 Pond Digging Expenses for K...,NaN,NaN,NaN,NaN,NaN
20,NaN,RDD-034,NaN,NaN,Journal,9,8000.0
21,NaN,RDD-Miscellaneous,8000.0,Dr,NaN,NaN,NaN
22,Kalpesh Devendra Vayada,NaN,8000.0,NaN,NaN,NaN,NaN
23,NaN,UID No. 4250000779 Advance Payment for Village...,NaN,NaN,NaN,NaN,NaN
24,Total:,NaN,NaN,NaN,876657,NaN,NaN

In [6]:
tally_jv_sheet = tally_jv_sheet[~tally_jv_sheet.astype(str).apply(lambda row: row.str.contains("Professional Tax", na=False)).any(axis=1)]
tally_jv_sheet = tally_jv_sheet[~tally_jv_sheet.astype(str).apply(lambda row: row.str.contains("Provident Fund Employee", na=False)).any(axis=1)]
tally_jv_sheet = tally_jv_sheet.reset_index(drop=True)
tally_jv_sheet

,Tally Vendor,Particulars,Vch Type,Vch No.,Debit,Credit,Unnamed: 6
0,NaN,Site Development,NaN,NaN,Journal,4,163458.0
1,NaN,RDD-Tribal Hostel,163458.0,Dr,NaN,NaN,NaN
2,Aaradhya Filling Station,NaN,163458.0,NaN,NaN,NaN,NaN
3,NaN,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,NaN,NaN,NaN,NaN,NaN
4,NaN,Site Development,NaN,NaN,Journal,5,25000.0
5,NaN,RDD-Tribal Hostel,25000.0,Dr,NaN,NaN,NaN
6,Datta Construction,NaN,25000.0,NaN,NaN,NaN,NaN
7,NaN,UID No. 4250000910 Payment of Machinery and La...,NaN,NaN,NaN,NaN,NaN
8,NaN,Site Development,NaN,NaN,Journal,6,399970.0
9,NaN,RDD-Tribal Hostel,399970.0,Dr,NaN,NaN,NaN
10,Datta Construction,NaN,399970.0,NaN,NaN,NaN,NaN
11,NaN,UID No. 4250000908 Payment of Machinery and La...,NaN,NaN,NaN,NaN,NaN
12,NaN,"Well Deepening (fuel costs, boards)",NaN,NaN,Journal,7,1600.0
13,NaN,RDD-SBI GRAM-SAKSHAM,1600.0,Dr,NaN,NaN,NaN
14,Rohidas Hemant Hadal,NaN,1600.0,NaN,NaN,NaN,NaN
15,NaN,UID No. 4250000878 Diesel Transportation Expen...,NaN,NaN,NaN,NaN,NaN
16,NaN,Construction of Common Ponds,NaN,NaN,Journal,8,278629.0
17,NaN,RDD-SBI GRAM-SAKSHAM,278629.0,Dr,NaN,NaN,NaN
18,Prathmesh A Patil,NaN,278629.0,NaN,NaN,NaN,NaN
19,NaN,UID No. 4250000874 Pond Digging Expenses for K...,NaN,NaN,NaN,NaN,NaN
20,NaN,RDD-034,NaN,NaN,Journal,9,8000.0
21,NaN,RDD-Miscellaneous,8000.0,Dr,NaN,NaN,NaN
22,Kalpesh Devendra Vayada,NaN,8000.0,NaN,NaN,NaN,NaN
23,NaN,UID No. 4250000779 Advance Payment for Village...,NaN,NaN,NaN,NaN,NaN
24,Total:,NaN,NaN,NaN,876657,NaN,NaN

In [7]:
# Create group numbers (each group of 4 rows)
tally_jv_sheet['Group'] = tally_jv_sheet.index // 4

# Merge using groupby (aggregating each column as a list)
tally_jv_sheet_merged = tally_jv_sheet.groupby('Group', as_index=False).agg(lambda x: list(x))

# Drop 'Group' column if not needed
tally_jv_sheet_merged.drop(columns=['Group'], inplace=True)

# Remove NaN values from lists in each column
tally_jv_sheet_merged = tally_jv_sheet_merged.apply(lambda col: col.map(lambda x: [i for i in x if pd.notna(i)]))

tally_jv_sheet_merged

,Tally Vendor,Particulars,Vch Type,Vch No.,Debit,Credit,Unnamed: 6
0,[Aaradhya Filling Station],"[Site Development, RDD-Tribal Hostel, Request ...","[163458.0, 163458.0]",[Dr],[Journal],[4],[163458.0]
1,[Datta Construction],"[Site Development, RDD-Tribal Hostel, UID No. ...","[25000.0, 25000.0]",[Dr],[Journal],[5],[25000.0]
2,[Datta Construction],"[Site Development, RDD-Tribal Hostel, UID No. ...","[399970.0, 399970.0]",[Dr],[Journal],[6],[399970.0]
3,[Rohidas Hemant Hadal],"[Well Deepening (fuel costs, boards), RDD-SBI ...","[1600.0, 1600.0]",[Dr],[Journal],[7],[1600.0]
4,[Prathmesh A Patil],"[Construction of Common Ponds, RDD-SBI GRAM-SA...","[278629.0, 278629.0]",[Dr],[Journal],[8],[278629.0]
5,[Kalpesh Devendra Vayada],"[RDD-034, RDD-Miscellaneous, UID No. 425000077...","[8000.0, 8000.0]",[Dr],[Journal],[9],[8000.0]
6,[Total:],[],[],[],[876657],[],[]

In [8]:
# Find max list length in 'Particulars' and 'Vch Type' to create new columns
max_length = max(tally_jv_sheet_merged['Particulars'].apply(len).max(), 
                 tally_jv_sheet_merged['Vch Type'].apply(len).max())

# Create new columns dynamically
for i in range(max_length):
    tally_jv_sheet_merged[f'Particulars_{i+1}'] = tally_jv_sheet_merged['Particulars'].apply(lambda x: x[i] if i < len(x) else np.nan)
    tally_jv_sheet_merged[f'Vch Type_{i+1}'] = tally_jv_sheet_merged['Vch Type'].apply(lambda x: x[i] if i < len(x) else np.nan)

# Drop original columns
tally_jv_sheet_merged.drop(columns=['Particulars', 'Vch Type'], inplace=True)

tally_jv_sheet_merged

,Tally Vendor,Vch No.,Debit,Credit,Unnamed: 6,Particulars_1,Vch Type_1,Particulars_2,Vch Type_2,Particulars_3,Vch Type_3
0,[Aaradhya Filling Station],[Dr],[Journal],[4],[163458.0],Site Development,163458.0,RDD-Tribal Hostel,163458.0,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,NaN
1,[Datta Construction],[Dr],[Journal],[5],[25000.0],Site Development,25000.0,RDD-Tribal Hostel,25000.0,UID No. 4250000910 Payment of Machinery and La...,NaN
2,[Datta Construction],[Dr],[Journal],[6],[399970.0],Site Development,399970.0,RDD-Tribal Hostel,399970.0,UID No. 4250000908 Payment of Machinery and La...,NaN
3,[Rohidas Hemant Hadal],[Dr],[Journal],[7],[1600.0],"Well Deepening (fuel costs, boards)",1600.0,RDD-SBI GRAM-SAKSHAM,1600.0,UID No. 4250000878 Diesel Transportation Expen...,NaN
4,[Prathmesh A Patil],[Dr],[Journal],[8],[278629.0],Construction of Common Ponds,278629.0,RDD-SBI GRAM-SAKSHAM,278629.0,UID No. 4250000874 Pond Digging Expenses for K...,NaN
5,[Kalpesh Devendra Vayada],[Dr],[Journal],[9],[8000.0],RDD-034,8000.0,RDD-Miscellaneous,8000.0,UID No. 4250000779 Advance Payment for Village...,NaN
6,[Total:],[],[876657],[],[],NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tally_jv_sheet_merged = tally_jv_sheet_merged[['Tally Vendor','Particulars_1','Vch Type_2','Particulars_2','Particulars_3']]
tally_jv_sheet_merged = tally_jv_sheet_merged.iloc[:-1]
tally_df = tally_jv_sheet_merged.rename(columns={'Particulars_1':'Tally Budget Item','Vch Type_2':'Tally Amount','Particulars_2':'Tally Department','Particulars_3':'Tally Amount Remarks'})
tally_df['Tally Vendor'] = tally_df['Tally Vendor'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)

tally_df['Tally UID'] = tally_df['Tally Amount Remarks'].astype(str).str.extract(r'(?<!\d)(\d{10})(?!\d)')

tally_df['Tally UID'] = tally_df['Tally UID'].astype('Int64')
tally_df

,Tally Vendor,Tally Budget Item,Tally Amount,Tally Department,Tally Amount Remarks,Tally UID
0,Aaradhya Filling Station,Site Development,163458.0,RDD-Tribal Hostel,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,4250000923
1,Datta Construction,Site Development,25000.0,RDD-Tribal Hostel,UID No. 4250000910 Payment of Machinery and La...,4250000910
2,Datta Construction,Site Development,399970.0,RDD-Tribal Hostel,UID No. 4250000908 Payment of Machinery and La...,4250000908
3,Rohidas Hemant Hadal,"Well Deepening (fuel costs, boards)",1600.0,RDD-SBI GRAM-SAKSHAM,UID No. 4250000878 Diesel Transportation Expen...,4250000878
4,Prathmesh A Patil,Construction of Common Ponds,278629.0,RDD-SBI GRAM-SAKSHAM,UID No. 4250000874 Pond Digging Expenses for K...,4250000874
5,Kalpesh Devendra Vayada,RDD-034,8000.0,RDD-Miscellaneous,UID No. 4250000779 Advance Payment for Village...,4250000779

In [10]:
# Step 1: Merge and filter columns
merged_df = icm_sheet.merge(tally_df, left_on="ICM UID", right_on="Tally UID", how="outer")

merged_df = merged_df[['ICM UID', 'Tally UID', 'ICM Department', 'Tally Department',
                       'ICM Budget Item', 'Tally Budget Item', 'ICM Amount', 'Tally Amount',
                       'ICM Amount Remark', 'Tally Amount Remarks', 'ICM Vendor', 'Tally Vendor']]

merged_df

,ICM UID,Tally UID,ICM Department,Tally Department,ICM Budget Item,Tally Budget Item,ICM Amount,Tally Amount,ICM Amount Remark,Tally Amount Remarks,ICM Vendor,Tally Vendor
0,4.250001e+09,4250000779,RDD-Miscellaneous,RDD-Miscellaneous,RDD-034,RDD-034,8000.0,8000.0,Advance Payment for Village Coordinator. Invoi...,UID No. 4250000779 Advance Payment for Village...,Kalpesh Devendra Vayada,Kalpesh Devendra Vayada
1,4.250001e+09,4250000874,RDD-SBI-Gram-Saksham-2024-2025,RDD-SBI GRAM-SAKSHAM,Construction of Common Ponds,Construction of Common Ponds,278629.0,278629.0,Pond Digging Expenses for Khadki Village. Date...,UID No. 4250000874 Pond Digging Expenses for K...,Prathmesh Aniruddha Patil,Prathmesh A Patil
2,4.250001e+09,4250000878,RDD-SBI-Gram-Saksham-2024-2025,RDD-SBI GRAM-SAKSHAM,"Well Deepening (fuel costs, boards)","Well Deepening (fuel costs, boards)",1600.0,1600.0,Diesel Transportation Expenses from ( Vikramga...,UID No. 4250000878 Diesel Transportation Expen...,Rohidas Hemant Hadal,Rohidas Hemant Hadal
3,4.250001e+09,4250000908,RDD-Tribal Hostel,RDD-Tribal Hostel,Site Development,Site Development,399970.0,399970.0,Payment of Machinery and Labour Contractor for...,UID No. 4250000908 Payment of Machinery and La...,Ramesh Ajinath Thakare ( Datta Construction ),Datta Construction
4,4.250001e+09,4250000910,RDD-Tribal Hostel,RDD-Tribal Hostel,Site Development,Site Development,25000.0,25000.0,Payment of Machinery and Labour Contractor for...,UID No. 4250000910 Payment of Machinery and La...,Ramesh Ajinath Thakare ( Datta Construction ),Datta Construction
5,NaN,4250000923,NaN,RDD-Tribal Hostel,NaN,Site Development,NaN,163458.0,NaN,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,NaN,Aaradhya Filling Station

In [11]:

import pandas as pd

# Assuming df is your DataFrame

# Define ICM and Tally column pairs
column_pairs = [
    ('ICM UID', 'Tally UID'),
    ('ICM Department', 'Tally Department'),
    ('ICM Budget Item', 'Tally Budget Item'),
    ('ICM Amount', 'Tally Amount'),
    ('ICM Amount Remark', 'Tally Amount Remarks'),
    ('ICM Vendor', 'Tally Vendor')
]

def compare_row(row):
    match_cols = []
    unmatch_cols = []

    for icm_col, tally_col in column_pairs:
        icm_val = row[icm_col]
        tally_val = row[tally_col]

        # Compare after converting both to string and stripping extra whitespace
        if str(icm_val).strip() == str(tally_val).strip():
            match_cols.append(icm_col)
        else:
            unmatch_cols.append(icm_col)

    match_status = 'Matched' if not unmatch_cols else 'Unmatched'

    return pd.Series([match_status, match_cols, unmatch_cols], index=['Match_Status', 'Match_Columns', 'Unmatch_Column'])

# Apply comparison across rows
merged_df[['Match_Status', 'Match_Columns', 'Unmatch_Column']] = merged_df.apply(compare_row, axis=1)

In [14]:
merged_df = merged_df[[
    'Match_Status', 'Match_Columns', 'Unmatch_Column',
    'ICM Budget Item', 'Tally Budget Item',
    'ICM Department', 'Tally Department',
    'ICM Vendor', 'Tally Vendor',
    'ICM Amount Remark', 'Tally Amount Remarks',
    'ICM UID', 'Tally UID',
    'ICM Amount', 'Tally Amount'
]]
merged_df

,Match_Status,Match_Columns,Unmatch_Column,ICM Budget Item,Tally Budget Item,ICM Department,Tally Department,ICM Vendor,Tally Vendor,ICM Amount Remark,Tally Amount Remarks,ICM UID,Tally UID,ICM Amount,Tally Amount
0,Unmatched,"[ICM Department, ICM Budget Item, ICM Amount, ...","[ICM UID, ICM Amount Remark]",RDD-034,RDD-034,RDD-Miscellaneous,RDD-Miscellaneous,Kalpesh Devendra Vayada,Kalpesh Devendra Vayada,Advance Payment for Village Coordinator. Invoi...,UID No. 4250000779 Advance Payment for Village...,4.250001e+09,4250000779,8000.0,8000.0
1,Unmatched,"[ICM Budget Item, ICM Amount]","[ICM UID, ICM Department, ICM Amount Remark, I...",Construction of Common Ponds,Construction of Common Ponds,RDD-SBI-Gram-Saksham-2024-2025,RDD-SBI GRAM-SAKSHAM,Prathmesh Aniruddha Patil,Prathmesh A Patil,Pond Digging Expenses for Khadki Village. Date...,UID No. 4250000874 Pond Digging Expenses for K...,4.250001e+09,4250000874,278629.0,278629.0
2,Unmatched,"[ICM Budget Item, ICM Amount, ICM Vendor]","[ICM UID, ICM Department, ICM Amount Remark]","Well Deepening (fuel costs, boards)","Well Deepening (fuel costs, boards)",RDD-SBI-Gram-Saksham-2024-2025,RDD-SBI GRAM-SAKSHAM,Rohidas Hemant Hadal,Rohidas Hemant Hadal,Diesel Transportation Expenses from ( Vikramga...,UID No. 4250000878 Diesel Transportation Expen...,4.250001e+09,4250000878,1600.0,1600.0
3,Unmatched,"[ICM Department, ICM Budget Item, ICM Amount]","[ICM UID, ICM Amount Remark, ICM Vendor]",Site Development,Site Development,RDD-Tribal Hostel,RDD-Tribal Hostel,Ramesh Ajinath Thakare ( Datta Construction ),Datta Construction,Payment of Machinery and Labour Contractor for...,UID No. 4250000908 Payment of Machinery and La...,4.250001e+09,4250000908,399970.0,399970.0
4,Unmatched,"[ICM Department, ICM Budget Item, ICM Amount]","[ICM UID, ICM Amount Remark, ICM Vendor]",Site Development,Site Development,RDD-Tribal Hostel,RDD-Tribal Hostel,Ramesh Ajinath Thakare ( Datta Construction ),Datta Construction,Payment of Machinery and Labour Contractor for...,UID No. 4250000910 Payment of Machinery and La...,4.250001e+09,4250000910,25000.0,25000.0
5,Unmatched,[],"[ICM UID, ICM Department, ICM Budget Item, ICM...",NaN,Site Development,NaN,RDD-Tribal Hostel,NaN,Aaradhya Filling Station,NaN,Request ID :ST/RD/2500019 (UID: 4250000923) Di...,NaN,4250000923,NaN,163458.0

In [13]:
# Get current date and time in DD-MM-YYYY_HH:MM:SS format
timestamp = datetime.now().strftime("%d-%m-%Y_%H-%M-%S")

# Generate filename with timestamp
filename = f"ICM Tally Entry Check Sheet_{timestamp}.xlsx"

# Save the DataFrame
merged_df.to_excel(filename, index=False, engine="openpyxl")